@import url("fonts");
@import url("vars");
@import url("reset");
@import url("common");
@import url("layouts");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700&display=swap");

@tailwind base;
/* @tailwind components; */
@tailwind utilities;

*{
  -webkit-touch-callout: none;
}

:root {
  overscroll-behavior: none;
}

#app{
  -webkit-overflow-scrolling: -webkit-overflow-scrolling;
  overflow-y: auto;
  width: 100vw;
  height: 100dvh;
}

body {
  font-family: Geist;
  background: var(--main-gradient);
  color: var(--main-text-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--main-gradient);
  height: 100%;
  overflow: hidden;

  > main {
    z-index: 4;
    padding: 5px;
    flex: 1 1 auto;
    overflow: auto;
  }
}
